.header {
  background-color: #808080;
  color: black;
  height: 90px;
}

.header-list {
    font-size: 36px;
    padding: 20px 40px;
    display: flex;
}

.main {
  background-image: url(bghitamabstrak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

button {
  font-family: sans-serif;
  font-size: 15px;
  background: gainsboro;
  border: white 3px solid;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 1px;
}

.begitulah {
  margin-left: 650px;
}

a:link {
  text-decoration: none;
}

button:hover {
  background-color: azure;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  margin-top: 230px;
  margin-left: 250px;
 position: absolute;
 height: 50px;
width: 700px;
padding-top: 15px;
font-size: 32px;
opacity: 0.7;
}

.footer{
    background-color: gray;
    height: 120px;
    padding:40px 40px;
}

.footer-logo {
    font-size:32px;
}

.list {
  display: flex;
  justify-content: end;
}